{% extends 'intranetBundle::layout.html.twig' %}

 {% block contenido %}
<h3>CREATE A NEW New</h3><br>
 <form action="{{path('intranet_insertChannel')}}" method="post" style="border: 1px solid;width: 500px;">
        <label>{% trans %}Name
        {% endtrans %}:</label><input type="text" name="name" style="margin-left: 40px;"><br>

        <i>
        {% trans %}message_1
        {% endtrans %}
        </i>
        <hr>

        {% for u in users %}
            <input type="checkbox" value="{{u.login}}" name="{{u.login}}"> {{u.login}}<br>
        {% endfor %}

                                    <input type="submit" value="{% trans %}create_channel{% endtrans %}">
   </form>

{% endblock %}
