{% extends 'intranetBundle::layout.html.twig' %}

 {% block contenido %}
<h3>VACATIONS</h3><br>
 <form action="{{ path('intranet_f') }}" method="post" style="border: 1px solid;width: 500px;">
       <label>From:</label><input type='date' id="from" name="from"><BR>
       <label>to: </label><input type='date' id="to" name="to" >
       <BR>
                                    <input type="submit" value="Modify">
                                    <input type="hidden" name="typeF" value="vacation">
  </form>




{% endblock %}
