{% extends 'intranetBundle::layout.html.twig' %}

{% block contenido %}
<br>
<h1>Inicio</h1>
<h2>{% trans %} TRANSLATING PAGE   {% endtrans %}</h2>
{% trans %}  New User{% endtrans %}<br>
{% trans %}  Welcome {% endtrans %}<br>
{% trans %}Symfony2 is great{% endtrans %}<br>
Escogiste: {% trans %} lang   {% endtrans %}
<hr><br>
<a href="{{ path('intranet_translation', {_locale: 'en'}) }}">ENGLISH </a><br>
<a href="{{ path('intranet_translation', {_locale: 'es'}) }}">SPANISH </a><br>
<a href="{{ path('intranet_translation', {_locale: 'fr'}) }}">FRENCH </a><br>




{% endblock %}
