{% extends 'intranetBundle::layout.html.twig' %}

 {% block contenido %}

<i>{% trans %}message_2{% endtrans %}</i><hr>

<h1>NO HAY NOTICIAS QUE MOSTRAR</h1>

<br><br>

<form action="{{ path('intranet_newnew')}}" method="post" style="border: 1px solid;width: 500px;">
    <input type="submit" name="newNew" value="NEW NEW">
  </form>

{% endblock %}
