{% extends 'intranetBundle::layout.html.twig' %}

 {% block contenido %}

 {% if rol!='developer' %}
 <form action="{{ path('intranet_newtask') }}" method="post" style="border: 1px solid;width: 500px;">
     <input type="submit" name="newTask" value="NEW TASK">
   </form>
 {% endif %}<br><br>


<h1> NO TASKS FOUNDED </h1>

{% endblock %}
